@font-face {
  font-family: "Montserat-400";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserat-500";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserat-600";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserat-700";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-400";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/UbuntuSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-500";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/UbuntuSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-600";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/UbuntuSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu-700";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/UbuntuSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OS-400";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/Oswald-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OS-500";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/Oswald-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserat-600";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/Oswald-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "OS-700";
  font-style: normal;
  font-weight: normal;
  src: url("../src/fonts/Oswald-Bold.ttf") format("truetype");
}
